a {
    text-decoration: none;
    color: inherit;
}
#nav-right {
    padding-bottom: 20px;
}

/* 相关主页显示的左部分位置*/
.index-left {
    float: left;
    margin: 0 0 0 20px;
    min-width: 200px;
    width: 70%;
}
.blog-description-box {
    border-radius: 3px;
    margin: 10px 0 0 0;
    padding: 10px 20px 0 20px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
    cursor: default;
}

.blog-simple-top {
    overflow: hidden;
    margin: 0 0 10px 0;
}

.blog-simple-top p {
    float: left;
    left: 30px;
    margin: 0;
    max-width: 40%;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.blog-simple-top p:hover {
    color: #409eff;
}

.blog-simple-top span {
    float: right;
    right: 20px;
    font-size: medium;
}

.blog-simple-content {
    text-align: left;
    cursor: text;
    margin: 0 0 15px 0;
}

.blog-simple-content p {
    max-width: 95%;
}


.blog-simple-footer {
    overflow: hidden;
    text-align: left;
    padding-bottom: 5px;
    color: #808993;
}

.blog-simple-footer span {
    margin: 0 10px 0 0;
}

.blog-simple-footer p {
    float: right;
    cursor: default;
    margin: 0 0 10px 0;
    color: #545c64;
    max-width: 200px;
}

.blog-simple-footer p:hover {
    cursor: pointer;
    color: #409eff;
}

.blog-page {
    margin-top: 20px;
    text-align: center;
}
